/* Estilos para el formulario */
  .modal-content {
    border-radius: 10px;
  }

  .modal-header {
    border-bottom: none;
    padding-bottom: 0;
  }

  .modal-title {
    font-weight: bold;
  }

  .modal-body {
    padding-top: 0;
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    font-weight: bold;
  }

  input[type="text"],
  input[type="date"],
  select {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 8px;
    width: 100%;
  }

  input[type="text"]:focus,
  input[type="date"]:focus,
  select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }

  input[type="date"]::-webkit-inner-spin-button {
    display: none;
  }

  /* Estilos para el botón */
  .modal-footer .btn {
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
  }

  .modal-footer .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
  }

  .modal-footer .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }

